<!DOCTYPE html>
<html lang="fi">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Kesäleiri{% endblock %}</title>
  <link rel="stylesheet" href="/static/public.css">
</head>
<body class="{% block bodyclass %}{% endblock %}">
{% block body %}{% endblock %}
</body>
</html>
